@model PPCP07302018.Models.ReferralSummary
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "ViewMember";
    Layout = "~/Views/Shared/BaseMaster.cshtml";
    var ServiceUrl = (System.Configuration.ConfigurationManager.AppSettings["ServiceUrl"].ToString());
}
<div class="pageheading_bar" align="center">
    <b>Referral Summary</b>
</div>

<div class="Panel_bg" id="divMainPlanEnroll">
    <div class="row Panel_bg_Sub">
        <legend class="Legendtxtcolor" style="float: left; font-size: 14px;"><b>Referral Summary</b></legend>
        <div class="row">
            <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
                @Html.Label("Total Points: ", new { style = "font-weight:bold;", @class = "" }) @Model.TotalPoints
            </div>
            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                @Html.Label("Points Available to use: ", new { style = "font-weight:bold;", @class = "" }) @Model.AvailableToUse
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
                @Html.Label("Points Earned: ", new { style = "font-weight:bold;", @class = "" }) @Model.PointsEarned
            </div>
            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                @Html.Label("Points Used: ", new { style = "font-weight:bold;", @class = "" }) @Model.PointsUsed
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
                @Html.Label("Points Pending: ", new { style = "font-weight:bold;", @class = "" }) @Model.PointsPending
            </div>
        </div>
        <hr />
        <legend class="Legendtxtcolor" style="float: left; font-size: 14px;"><b>Referral Link</b></legend>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                @Model.MemberReferralLink 
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                @(Html.Kendo().Grid<PPCP07302018.Models.Referral> ()
                    .Name("ReferralSummaryGrid")
                    //.Events(e => e.DataBound("onDataBound"))
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.FirstName).Title("Referral Name").ClientTemplate(" #: FirstName # #: LastName #").Width(150);
                        columns.Bound(p => p.ReferralJoinedDate).Title("Joined On").Width(100).ClientTemplate("#= ReferralJoinedDate != null ? kendo.toString(kendo.parseDate(ReferralJoinedDate,'yyyy-MM-dd'), '" + "MM/dd/yyyy" + "') : '' #");
                        columns.Bound(p => p.PlanName).Title("Plan").Width(100);
                        columns.Bound(p => p.Points).Title("Points").Width(100);
                        columns.Bound(p => p.PointsEarnedDate).Title("Status").Width(100).ClientTemplate("#= PointsEarnedDate != null ? 'Earned' : 'Pending' #");
                    })
                    .Scrollable(s => s.Height("auto"))
                    //.Pageable()
                    .AutoBind(true)
                    .HtmlAttributes(new { style = " height: 200px" })
                    .Selectable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        //.PageSize(5)
                        .Read(read => read.Action("ReferralSummary_Read", "Member"))
                    )
                )
            </div>
        </div>
    </div>
</div>
